@charset "UTF-8";

*{
    margin: 0px;
    padding: 0px;
    font-family: Arial, Helvetica, sans-serif;
}

html, body{
    height: 100vh;
    width: 100vw;
    overflow: hidden;
}

body{
    background: url('../imagens/fundo-madeira.jpg');
    background-size: cover;
    background-attachment: fixed;
}

main{
    height: 100vh;
    position: relative;
}

section#telefone{
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    height: 620px;
    width: 311px;
    background-color: black;
    background:url('../imagens/frame-iphone.png') no-repeat;
}

iframe#tela{
    position:relative;
    top: 80px;
    left: 22px;
    height: 471px;
    width: 269px;
}

section#redes-socias img:hover{
    transform: translate(3px, -3px);
    transition: 0.3s;
    border: 2px solid white;
    box-shadow: 5px 5px 5px black;


}

section#redes-socias img{
    width: 50px;
    margin: 20px;
    border-radius: 25px;
    box-shadow: 2px 2px 5px black;
    display: table;
    vertical-align: middle;
    margin-left: 10px;
    box-sizing: border-box;

}